header {
  background-color: rgb(3, 108, 83);
  display: flex;
  height: 50px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.user-navbar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: stretch;
}

ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

li {
  font-size: 13.33px;
  margin: 0.8rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
}

.pedidos-navbar {
  background-color: #2fc18c;
}

.username-navbar {
  background-color: #421981;
}

.logout-navbar {
  background-color: #056cf9;
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
}

li a {
  background-color: #2fc18c;
  border: none;
  display: block;
  text-align: center;
}

li a:hover {
  background-color: #fff9d5;
}

.username, .logout {
  color: white;
  font-weight: 600;
}

.logout {
  background-color: #056cf9;
}

button {
  background-color: lightseagreen;
  border: none;
  border-radius: 3px;
  font-size: large;
  height: 50px;
  width: 125px;
}
