.main-wrapper-AllOrders {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.AllOrders-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1em;
}
