.wrapper-card-product {
  /* display: grid;
  grid-template-columns: repeat(6, 15%); */
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* gap: 1vw; */
  width: 100%;
}
